html {width: 100%;height: 100%;}
body {
	width: 100%;
	height: 100%;
	font-family:"Opens Sans", Arial, sans-serif;
	color: #ffcc00;
	background-color: #000;
}
#main-content {
	padding-top: 5px;
}
h1 {
	margin-top: 0;
}