<?php
/**
 * @var LoginResetViewInterface $this
 */
use Airhead\Wanda\View\LoginResetViewInterface;

assert($this instanceof LoginResetViewInterface);
?>
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>Please reset your password</h4>
        </header>
        <div class="body">
            <?=$this->getNotificationFlashMessage()?>
            <?=$this->getValidation()?>
            <form class="no-margin" action="" id="login-form" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="password_old">Old password <span class="required">*</span></label>

                        <input id="password_old" type="password" name="password_old"
                               class="form-control input-transparent"
                               required="required"
                        >
                    </div>
                    <div class="form-group">
                        <label for="password_new">New password <span class="required">*</span></label>

                        <input id="password_new" type="password" name="password_new"
                               class="form-control input-transparent"
                               required="required"
                        >
                    </div>
                    <div class="form-group">
                        <label for="password_new_2">Confirm new password <span class="required">*</span></label>

                        <input id="password_new_2" type="password" name="password_new_2"
                               class="form-control input-transparent"
                               required="required"
                        >
                    </div>
                </fieldset>
                <div class="form-actions" style="padding-bottom:15px;">
                    <button type="submit" class="btn btn-block btn-lg btn-danger">
                        <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                        <small>Continue</small>
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- page specific scripts -->
<!-- page libs -->
<script src="public/lib/jquery.pwstrength/dist/pwstrength-bootstrap.min.js"></script>
<script src="public/lib/parsleyjs/dist/parsley.min.js"></script>

<!-- page application js -->
<script src="public/js/forms-login.js"></script>