<?php
/**
 * @var LoginViewInterface $this
 */
use Airhead\Wanda\View\LoginViewInterface;

assert($this instanceof LoginViewInterface);
?>
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>Login to your account</h4>
        </header>
        <div class="body">
            <?=$this->getNotificationFlashMessage()?>
            <?=$this->getValidation()?>
            <form class="no-margin" action="" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="email" >Email</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input id="email" type="email" name="email" class="form-control input-lg input-transparent"
                                   placeholder="Your Email" value="<?=$this->getInputValue('email')?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" >Password</label>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input id="password" type="password" name="password" class="form-control input-lg input-transparent"
                                   placeholder="Your Password">
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions" style="padding-bottom:15px;">
                    <button type="submit" class="btn btn-block btn-lg btn-danger">
                        <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                        <small>Sign In</small>
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>