<?php
/**
 * @var NotificationViewInterface $this
 */
use Airhead\Wanda\View\NotificationViewInterface;

assert($this instanceof NotificationViewInterface);
$messages = $this->getMessages();
?>
<div class="alert alert-<?=$this->getType()?> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <?php if (count($messages) > 1) : ?>
        <ul><li><?=implode('</li><li>', $messages)?></li></ul>
    <?php else : ?>
        <?=reset($messages)?>
    <?php endif; ?>
</div>
