<?php
/**
 * @var NewAccountInterface $this
 */
use Airhead\Wanda\View\Email\NewAccountInterface;

assert($this instanceof NewAccountInterface);
?>
<h3>An account has been created for you!</h3>
You can login on <a href="<?=$this->getLoginUrl()?>" target="_blank">this</a> page with the following credentials:
<br />
<br />
<strong>Username:</strong> <?=$this->getUsername()?><br />
<strong>Email:</strong> <?=$this->getEmail()?><br />
<strong>Password:</strong> <?=$this->getPassword()?><br />
<br />
After logging in, you will be asked to create a new password.<br />
This is mandatory!
<br />
<br />
Happy editing, and let me know if you have any questions.<br />