<?php
/**
 * @var FormViewInterface $this
 */
use Airhead\Wanda\View\Module\Donation\FormViewInterface;

assert($this instanceof FormViewInterface);
?>
<form id="user-form" novalidate="novalidate" method="post"
      data-parsley-priority-enabled="false">
    <div class="row">
        <div class="col-lg-6">
            <?=$this->getValidation()?>
            <section class="widget form-horizontal">
                <div class="body">
                    <fieldset>
                        <legend class="section">User information</legend>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="name">
                                Name <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input id="name" type="text" required="required" name="name"
                                       value="<?=$this->getName()?>"
                                       class="form-control input-transparent"
                                       <?php if ($this->hasDonationData() === true) : ?>readonly<?php endif; ?>
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">
                                Email <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input id="email" type="email" required="required" name="email"
                                       value="<?=$this->getEmail()?>"
                                       class="form-control input-transparent"
                                       <?php if ($this->hasDonationData() === true) : ?>readonly<?php endif; ?>
                                >
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <a href="<?=$this->getOverviewUrl()?>" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section class="widget">
                <div class="body">
                    <fieldset class="form-horizontal">
                        <legend class="section">Transaction information</legend>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="transaction_id">
                                Transaction ID <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input id="transaction_id" type="text" required="required" name="transaction_id"
                                       value="<?=$this->getTransactionId()?>"
                                       class="form-control input-transparent"
                                       <?php if ($this->hasDonationData() === true) : ?>readonly<?php endif; ?>
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="amount">
                                Amount <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input id="amount" type="text" required="required" name="amount"
                                           value="<?=$this->getAmount()?>"
                                           class="form-control input-transparent"
                                           <?php if ($this->hasDonationData() === true) : ?>readonly<?php endif; ?>
                                    >
                                    <div class="input-group-addon">.00</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <?php if ($this->hasDonationData() === true) : ?>
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <?php if ($this->isConfirmed() === true) : ?>
                                    <span class="fa fa-check text-success"></span> Donation confirmed!
                                <?php else : ?>
                                    <div class="checkbox">
                                        <input type="checkbox" id="confirmed" name="confirmed" value="1">
                                        <label class="checkbox" for="confirmed">
                                            Donation confirmed?
                                        </label>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </fieldset>
                    <?php endif; ?>
                </div>
            </section>
        </div>
    </div>
</form>

<!-- page specific scripts -->
<!-- page libs -->
<script src="public/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="public/lib/select2/select2.min.js"></script>
<script src="public/lib/parsleyjs/dist/parsley.min.js"></script>

<!-- page application js -->
<script src="public/js/forms-account.js"></script>