<?php
/**
 * @var TableRowViewInterface|OverviewActionInterface $this
 */
use Airhead\Wanda\View\OverviewActionInterface;
use Airhead\Wanda\View\Module\Donation\TableRowViewInterface;

assert($this instanceof TableRowViewInterface);
assert($this instanceof OverviewActionInterface);
?>
<tr>
    <td><?=$this->getDateCreated()?></td>
    <td>$ <?=$this->getAmount()?></td>
    <td><?=$this->getName()?></td>
    <td><?=$this->getEmail()?></td>
    <td><?=$this->getTransactionId()?></td>
    <td class="text-center">
        <?php if ($this->isConfirmed() === true) : ?>
            <span class="fa fa-check text-success"></span>
        <?php else : ?>
            <span class="fa fa-times text-danger"></span>
        <?php endif; ?>
    </td>
    <td class="width-150">
        <a href="<?=$this->getEditUrl()?>" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span></a>
        <a data-href="<?=$this->getDeleteUrl()?>" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirm-delete">
            <span class="fa fa-trash"></span>
        </a>
    </td>
</tr>