<?php
/**
 * @var FormViewInterface $this
 */
use Airhead\Wanda\View\Content\FormViewInterface;

assert($this instanceof FormViewInterface);
?>
<form class="form-horizontal" role="form" id="article-form" method="post" novalidate="novalidate"
      enctype="multipart/form-data"
      data-parsley-priority-enabled="false">
    <div class="row">
        <div class="col-lg-8">
            <?=$this->getValidation()?>
            <section class="widget">
                <header>
                    <h4><i class="fa fa-file"></i> Default <small>content that people should see</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <?php if ($this->isVisibleFormElement('title') === true) : ?>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Title <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" id="title" name="title"
                                       value="<?=$this->getFormTitleValue()?>"
                                       class="form-control input-transparent"
                                       required="required">
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php if ($this->isVisibleFormElement('sub_title') === true) : ?>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="sub_title">Sub title</label>
                            <div class="col-sm-9">
                                <input type="text" id="sub_title" name="sub_title"
                                       value="<?=$this->getFormSubTitleValue()?>"
                                       class="form-control input-transparent">
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php if ($this->isVisibleFormElement('menu_title') === true) : ?>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="menu_title">Menu title <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" id="menu_title" name="menu_title"
                                       value="<?=$this->getFormMenuTitleValue()?>"
                                       class="form-control input-transparent"
                                       required="required">
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php if ($this->isVisibleFormElement('body') === true) : ?>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="body">
                                Content <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <textarea rows="10" class="form-control input-transparent wysisyg-editor" id="body" name="body" required="required"
                                          data-upload-url="<?=$this->getMediaUploadUrl()?>"
                                ><?=$this->getFormBodyValue()?></textarea>
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php if ($this->isVisibleFormElement('preview') === true) : ?>
                        <div class="form-group">
                            <label for="preview" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea id="preview" rows="3" name="preview" class="form-control input-transparent"><?=$this->getFormPreviewValue()?></textarea>
                                <span class="help-block">Optional summary of your article that can be used in previews</span>
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php if ($this->isVisibleFormElement('media') === true) : ?>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="sub_title">Content image</label>
                                <?php if ($this->hasMediaFile() === true) : ?>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                            <span class="btn btn-primary">
                                                Replace... <input type="file" name="media" id="media" style="display: none;">
                                            </span>
                                            </label>
                                            <input type="text" class="form-control file-feedback" readonly=""
                                                   value="<?=$this->getMediaFileUrl()?>"
                                            >
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <img src="../<?=$this->getMediaFileUrl()?>" class="img-responsive" />
                                    </div>
                                <?php else : ?>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                            <span class="btn btn-primary">
                                                Browse... <input type="file" name="media" id="media" style="display: none;">
                                            </span>
                                            </label>
                                            <input type="text" class="form-control file-feedback" readonly="">
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    </fieldset>
                    <?php if (count($this->getExtraFormFields()) === 0) : ?>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a href="<?=$this->getOverviewUrl()?>" class="btn btn-default pjax-action">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php endif; ?>
                </div>
                <?php if (count($this->getExtraFormFields()) > 0) : ?>
                <header>
                    <h4><i class="fa fa-file"></i> Extra <small>content because of reasons</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <?php foreach ($this->getExtraFormFields() as $extraFormField) : ?>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="<?=$extraFormField->name?>">
                                <?=$extraFormField->label?>
                                <?php if (isset($extraFormField->required) === true) : ?>
                                <span class="required">*</span>
                                <?php endif; ?>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" id="<?=$extraFormField->name?>"
                                       name="extra_<?=$extraFormField->name?>"
                                       value="<?=$this->getExtraFormFieldValue($extraFormField->name)?>"
                                       class="form-control input-transparent"
                                       <?php if (isset($extraFormField->required) === true) : ?>
                                       required="required"
                                       <?php endif; ?>
                                >
                            </div>
                        </div>
                        <?php endforeach; ?>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a href="<?=$this->getOverviewUrl()?>" class="btn btn-default pjax-action">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php endif; ?>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="widget">
                <header>
                    <h4><i class="fa fa-cog"></i> Options <small>Publishing</small></h4>
                </header>
                <div class="body">
                    <fieldset>
                        <legend class="section">Publishing</legend>
                        <div class="form-group">
                            <label for="status" class="control-label col-sm-4">Status</label>
                            <div class="col-sm-8">
                                <select id="article-status" name="status"
                                        data-style="btn-success"
                                        data-width="auto"
                                        class="selectpicker">
                                    <option value="0"<?=($this->getFormStatusValue() === 0)?' selected':''?>>Draft</option>
                                    <option value="1"<?=($this->getFormStatusValue() === 1)?' selected':''?>>Published</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </section>
        </div>
    </div>
</form>

<!-- page specific scripts -->
<!-- page libs -->
<script src="public/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="public/lib/select2/select2.min.js"></script>
<script src="public/lib/moment/moment.js"></script>
<script src="public/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="public/lib/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
<script src="public/lib/summernote/dist/summernote.min.js"></script>
<script src="public/lib/parsleyjs/dist/parsley.min.js"></script>

<!-- page application js -->
<script src="public/js/forms-article.js"></script>
