<?php
/**
 * @var TableRowViewInterface|OverviewActionInterface $this
 */
use Airhead\Wanda\View\OverviewActionInterface;
use Airhead\Wanda\View\Content\TableRowViewInterface;

assert($this instanceof TableRowViewInterface);
assert($this instanceof OverviewActionInterface);
?>
<tr data-id="<?=$this->getContentId()?>">
    <td class="hidden-xs sort-handler"><?=$this->getContentId()?></td>
    <td><?=$this->getContentTitle()?></td>
    <td><?=$this->getContentOwner()?></td>
    <td class="hidden-xs text-muted"><?=$this->getContentCreateDate()?></td>
    <td class="hidden-xs text-muted"><?=$this->getContentUpdateDate()?></td>
    <td class="text-center">
        <?php if ($this->isContentPublished() === true) : ?>
            <span class="text-success"><span class="fa fa-check"></span></span>
        <?php else : ?>
            <span class="text-danger"><span class="fa fa-remove"></span></span>
        <?php endif; ?>
    </td>
    <td class="width-150">
        <a href="<?=$this->getEditUrl()?>" class="btn btn-primary btn-xs pjax-action"><span class="fa fa-pencil"></span></a>
        <a data-href="<?=$this->getDeleteUrl()?>" class="btn btn-danger btn-xs"
           data-toggle="modal" data-target="#confirm-delete"
        >
            <span class="fa fa-trash"></span>
        </a>
    </td>
</tr>