<?php
/**
 * @var \Airhead\Cosmo\View\DonationFormViewInterface $this
 */
assert($this instanceof \Airhead\Cosmo\View\DonationFormViewInterface);
?>
<div class="modal fade" id="donateModal">
    <div class="modal-dialog modal-lg text-center">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h1>Donate Now </h1>
                <div class="accent-rule-short"></div>
                <div id="donateFormNotif"></div>
                <h2>100% of the donated amount will be sent to the charity!</h2>
                <form class="form-horizontal" action="<?= $this->getPayPalCallUrl(); ?>" method="post" target="_blank" id="donationForm">
                    <div class="form-group">
                        <label for="donation-amount" class="col-sm-2 control-label">Amount</label>
                        <div class="col-sm-10">
                            <ul class="list-unstyled list-inline">
                                <li><button type="button" class="btn btn-primary btn-block donate-amount" value="1">$1</button></li>
                                <li><button type="button" class="btn btn-primary btn-block donate-amount" value="5">$5</button></li>
                                <li><button type="button" class="btn btn-primary btn-block donate-amount" value="10">$10</button></li>
                                <li><button type="button" class="btn btn-primary btn-block donate-amount" value="15">$15</button></li>
                                <li><button type="button" class="btn btn-primary btn-block donate-amount" value="25">$25</button></li>
                                <li><button type="button" class="btn btn-primary btn-block donate-amount" value="50">$50</button></li>
                                <li><button type="button" class="btn btn-primary btn-block donate-amount" value="75">$75</button></li>
                                <li><button type="button" class="btn btn-primary btn-block donate-amount" value="100">$100</button></li>
                                <li>
                                    <input name="amount" placeholder="$ Other Amount" class="form-control" type="text">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="donation-name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="donation-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="donation-email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" class="form-control" id="donation-email">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-tertiary btn-xl btn-rounded-edge">Donate through PayPal!</button>
                </form>
            </div>
        </div><!-- / modal-content -->
    </div><!-- / modal-dialog -->
</div><!--=== / END donate modal ===-->