<?php
/**
 * @var \Airhead\Cosmo\View\DonateSummaryViewInterface $this
 */
assert($this instanceof \Airhead\Cosmo\View\DonateSummaryViewInterface);
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="The TSU Charity stream team">

    <base href="<?=$this->getBaseUrl()?>" target="_self">

    <title>TSU TGM - Or, The Gaming Mammoth</title>

    <!-- Bootstrap Core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="public/css/jquery.pagewalk.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Roboto" rel="stylesheet">
    <link href="public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="public/css/donate-summary.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>$<span id="total"><?=$this->getTotalDonateAmount()?></span> / $<?=$this->getDonateTarget()?></h1>
            </div>
            <div class="col-md-12 text-center">
                <div id="output" data-target="<?=$this->getDonateTarget()?>"></div>
            </div>
        </div>
    </div>
</div>

<div class="page-progress" style="width: <?=$this->getDonateProgress()?>%;"></div>

<audio src="public/audio/smw_coin.wav" preload="auto" id="coin"></audio>
<audio src="public/audio/hello.wav" preload="auto" id="hello"></audio>

<!-- Core JavaScript Files -->
<script src="public/js/jquery-1.11.0.js"></script>
<script type="text/javascript">
    var socket,
        output = $('#output'),
        totalAmount = $('#total');

    if ("WebSocket" in window) {
        socket = new WebSocket("wss://stream.pushbullet.com/websocket/o.clhGLLURog1TSGuNuru62ZcQtz7qQQSX");
    }

    socket.onopen = function() {
        $("#hello").get(0).play();
    };

    socket.onmessage = function(msg) {
        var response = JSON.parse(msg.data);
        if (response.type == 'push') {
            var newTotal = parseInt(totalAmount.text()) + parseInt(response.push.amount);
            var progress = ((newTotal / output.data('target')) * 100).toFixed(2);
            if (progress > 100) {
                progress = 100;
            }

            totalAmount.text(newTotal);
            $(".page-progress").addClass('walk').css({width: progress + '%'});
            setTimeout(function(){
                $(".page-progress").removeClass('walk')
            }, 1000);

            console.log(response.push);
            output.html('<h3>New donation!</h3><h1>$' + response.push.amount + '</h1>' + response.push.name + '');
            $("#coin").get(0).play();
        }
    };
</script>
</body>
</html>