<?php
/**
 * @var \Airhead\Cosmo\View\DonationEmailViewInterface $this
 */
assert($this instanceof \Airhead\Cosmo\View\DonationEmailViewInterface);
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Thank you for your donation</title>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto);

        body {
            background: #000000;
            line-height: 21px;
            font-size: 13px;
            color: #ffffff;
            padding: 0;
            margin: 0;
        }
        table,
        table td {
            font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            line-height: 21px;
            font-size: 13px;
        }
    </style>
</head>

<body>

    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
        <tr>
            <td align="center">
                <table cellpadding="20" cellspacing="0" border="0" align="center" class="container" style="width: 600px;">
                    <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 15px; color: #fff; text-align: center;">
                            <img src="<?=$this->getBaseUrl()?>public/img/logo_email.png" alt="" />
                        </td>
                    </tr>
                </table>


                <table cellpadding="20" cellspacing="0" border="0" align="center" class="container" style="background: #151515; width: 600px;">
                    <tr>
                        <td style="font-size: 25px; color: #ffcc00; text-align: center;">
                            Thank you for your donation!
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
        <tr>
            <td align="center">

                <table cellpadding="20" cellspacing="0" border="0" align="center" style="background: #151515; width: 600px;border-top:1px solid #ffcc00;border-bottom:1px solid #ffcc00;">
                    <tr>
                        <td style="line-height: 18px; font-size: 14px; color: #fff; text-align: left;">
                            <p>Hello <?=$this->getName()?>,</p>
                            <p>
                                Thank you for your generous donation.<br />
                                If you like what we do, please be sure to share our event with as many friends as possible.<br />
                                The more viewers/players we can get, the easier it will be to reach our goal!
                            </p>
                            <p>
                                If you REALLY like what we do, please show the people below some love as well.<br />
                                Without them, we would not be able to make this event so successful.
                            </p>
                            <p>
                                With kind regards,<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The TSU Charity stream team & Toy Soldiers Unite
                            </p>
                        </td>
                    </tr>
                </table>
                <?=$this->getSponsors()?>
            </td>
        </tr>
    </table>


    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
        <tr>
            <td align="center">
                <table cellpadding="20" cellspacing="0" border="0" align="center" class="container" style="width: 600px;">
                    <tr>
                        <td valign="top" style="font-size: 12px; background: #151515; color: #ffffff; text-align: center;">
                            <strong>Toy Soldiers Unite</strong><br />
                            <a style="color: #ffcc00;" href="mailto:info@toysoldiersunite.com">info@toysoldiersunite.com</a><br />
                            <a style="color: #ffcc00;" href="mailto:gamingmarathon@toysoldiersunite.com">gamingmarathon@toysoldiersunite.com</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 40px;"></td>
        </tr>
    </table>
</body>
</html>