<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[title]</title>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto);

        body {
            line-height: 21px;
            font-size: 13px;
            color: #ffffff;
            padding: 0;
            margin: 0;
        }
        table,
        table td {
            font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            line-height: 21px;
            font-size: 13px;
        }
    </style>
</head>

<body>

    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
        <tr>
            <td align="center">
                <table cellpadding="20" cellspacing="0" border="0" align="center" class="container" style="width: 600px;">
                    <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 15px; color: #fff; text-align: center;">
                            <img src="cid:GM-logo" alt="" style="width:50%;height:50%;" />
                        </td>
                    </tr>
                </table>
                <table cellpadding="20" cellspacing="0" border="0" align="center" class="container" style="background: #151515; width: 600px;">
                    <tr>
                        <td style="font-size: 25px; color: #ffcc00; text-align: center;">
                            [title]
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
        <tr>
            <td align="center">

                <table cellpadding="20" cellspacing="0" border="0" align="center" style="background: #151515; width: 600px;border-top:1px solid #ffcc00;border-bottom:1px solid #ffcc00;">
                    <tr>
                        <td style="line-height: 18px; font-size: 14px; color: #fff; text-align: left;">
                            [body]
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
        <tr>
            <td align="center">
                <table cellpadding="20" cellspacing="0" border="0" align="center" class="container" style="width: 600px;">
                    <tr>
                        <td valign="top" style="font-size: 12px; background: #151515; color: #ffffff; text-align: center;">
                            <strong>The gaming mammoth</strong><br />
                            <a style="color: #ffcc00;" href="mailto:gamingmarathon@toysoldiersunite.com">gamingmarathon@toysoldiersunite.com</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 40px;"></td>
        </tr>
    </table>
</body>
</html>