<?php
/**
 * @var \Airhead\Cosmo\View\PageViewInterface $this
 */
assert($this instanceof \Airhead\Cosmo\View\PageViewInterface);
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="The TSU Charity stream team">

    <script type="text/javascript">
        // Google Analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69371659-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Facebook meta data -->
    <meta property="og:title"           content="The Gaming Mammoth" />
    <meta property="og:site_name"       content="TSU TGM - Or, The Gaming Mammoth"/>
    <meta property="og:url"             content="https://charity.toysoldiersunite.com/" />
    <meta property="og:description"     content="We get together, play games and stream them online for charity! People can follow our various streams all weekend, watching people from all over the world play" />
    <meta property="fb:app_id"          content="743605185771822" />
    <meta property="og:type"            content="website" />
    <meta property="og:locale"          content="en_US" />
    <meta property="og:image"           content="https://charity.toysoldiersunite.com/public/img/socialmedia_banner.png" />

    <!-- Twitter meta data -->
    <meta name="twitter:card"           content="summary_large_image">
    <meta name="twitter:creator"        content="@TSUMarathon">
    <meta name="twitter:title"          content="The Gaming Mammoth">
    <meta name="twitter:description"    content="We get together, play games and stream them online for charity! People can follow our various streams all weekend, watching people from all over the world play">
    <meta name="twitter:image"          content="https://charity.toysoldiersunite.com/img/socialmedia_banner.png">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="public/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="public/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="public/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="public/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="public/img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="public/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="public/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="public/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="public/img/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="public/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="public/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="public/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="public/img/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="TSU TGM - Or, The Gaming Mammoth"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="public/img/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="public/img/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="public/img/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="public/img/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="public/img/favicon/mstile-310x310.png" />

    <title>TSU TGM - Or, The Gaming Mammoth</title>

    <!-- Bootstrap Core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="public/css/jquery.pagewalk.css" rel="stylesheet">
    <link href="public/css/one-page-base.css?v=30032017" rel="stylesheet">
    <link href="public/css/act.css" rel="stylesheet">
    <!-- Plugins & Assets-->
    <link rel="stylesheet" href="public/css/animate.css">
    <link rel="stylesheet" type="text/css" media="screen" href="public/vendor/photoSwipe/photoswipe.css">
    <link rel="stylesheet" type="text/css" media="screen" href="public/vendor/photoSwipe/default-skin/default-skin.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Roboto" rel="stylesheet">
    <link href="public/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--

                                          /   \
         _                        )      ((   ))     (
        (@)                      /|\      ))_((     /|\
        |-|                     / | \    (/\|/\)   / | \                      (@)
        | | -------------------/--|-voV---\`|'/--Vov-|--\---------------------|-|
        |-|                         '^`   (o o)  '^`                          | |
        | |                               `\Y/'                               |-|
        |-|                                                                   | |
        | |           "Give a man a fire and he's warm for a day,             |-|
        |-|    but set fire to him and he's warm for the rest of his life."   | |
        | |                                                                   |-|
        |-|                                                                   | |
        | |                                               - Terry Pratchett   |-|
        |-|                                                                   | |
        | |                                                                   |-|
        |_|___________________________________________________________________| |
        (@)              l   /\ /         ( (       \ /\   l                `\|-|
                         l /   V           \ \       V   \ l                  (@)
                         l/                _) )_          \I
                                           `\ /'
                                             `

        -->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="75">

<!--=== NAVIGATION ===-->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-wide">
        <div class="navbar-header">
            <ul class="list-unstyled list-inline pull-right">
                <li>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </li>
                <li id="donate-button-responsive" class="donate bg-brand-tertiary bg-br" style="display:none;">
                    <a href="#donateModal" data-toggle="modal" role="button" class="nav-show-hide">Donate</a>
                </li>
            </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="first page-scroll"><a href="#home" class="hidden-li"></a></li>
                <li class="page-scroll">
                    <a href="#information"><i class="fa fa-info"></i> Information</a>
                </li>
                <li class="page-scroll">
                    <a href="#stream"><i class="fa fa-video-camera"></i> Livestream</a>
                </li>
                <li class="page-scroll" style="display:none;">
                    <a href="#servers"><i class="fa fa-server"></i> Servers</a>
                </li>
                <li class="page-scroll">
                    <a href="#sponsors"><i class="fa fa-users"></i> Sponsors</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact" data-toggle="collapse" data-target="#contact-details"><i class="fa fa-envelope"></i> Contact</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share"></i> Share <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- Twitter -->
                        <li>
                            <a href="https://twitter.com/home?status=http%3A//charity.toysoldiersunite.com/" title="Share on Twitter" target="_blank" class="btn-twitter">
                                <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;Twitter
                            </a>
                        </li>
                        <!-- LinkedIn -->
                        <li>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//charity.toysoldiersunite.com/&title=TSU%20Charity&summary=&source=" title="Share on LinkedIn" target="_blank" class="btn-linkedin">
                                <i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;LinkedIn
                            </a>
                        </li>
                        <!-- Facebook -->
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//charity.toysoldiersunite.com/" title="Share on Facebook" target="_blank" class="btn-facebook">
                                <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Facebook
                            </a>
                        </li>
                        <!-- StumbleUpon -->
                        <li>
                            <a href="https://pinterest.com/pin/create/button/?url=http%3A//charity.toysoldiersunite.com/&media=http%3A//charity.toysoldiersunite.com/img/socialmedia_banner.png&description=" title="Share on Pinterest" target="_blank" data-placement="top" class="btn-pinterest">
                                <i class="fa fa-pinterest"></i>&nbsp;&nbsp;&nbsp;Pinterest
                            </a>
                        </li>
                        <!-- Google+ -->
                        <li>
                            <a href="https://plus.google.com/share?url=http%3A//charity.toysoldiersunite.com/" title="Share on Google+" target="_blank" class="btn-googleplus">
                                <i class="fa fa-google-plus"></i>&nbsp;&nbsp;&nbsp;Google+
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://translate.google.com/translate?sl=auto&tl=en&js=y&prev=_t&hl=en&ie=UTF-8&u=https%3A%2F%2Fwww.getshirts.de%2Findex.php%3Fpage%3Dshop%26id%3Dgamingmammoth&edit-text=&act=url" target="_blank"><i class="fa fa-shopping-bag"></i> Shop</a>
                </li>
            </ul>
            <!-- navbar donation button -->
            <?php if ($this->shouldDisplayDonateButton() === true) : ?>
            <div id="donate-homepage" class="donate bg-brand-tertiary pull-right">
                <a href="#donateModal" data-toggle="modal" role="button"><i class="fa fa-money"></i> Donate</a>
            </div>
            <?php endif; ?>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav><!--=== END Navigation ===-->

<?= $this->getDonationForm(); ?>

<!--=== INTRO ===-->
<header id="home" class="intro">
    <div class="overlay-dark">
        <div class="intro-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- carousel container-->
                    <div class="carousel-wrapper">
                        <!-- carousel -->
                        <div class="carousel slide carousel-fade">
                            <div class="carousel-inner">
                                <!-- item 1  -->
                                <div class="item active">
                                    <span class="text-big">
                                        <img src="public/img/logo_fin_yellow.png" style="max-height:300px;" alt="logo"><br />
                                        March 31st to April 2nd
                                    </span>
                                </div><!-- /end item 1  -->
                                <!-- item 4  -->
                                <div class="item">
                                    <span class="text-big">2017<br /><small style="color:#fff;">MIND</small><br />Target: $2500<br /></span>
                                </div><!-- /end item 4  -->
                                <!-- item 4  -->
                                <div class="item">
                                    <span class="text-big">2016<br /><small style="color:#fff;">Enable Community Foundation</small><br />$2100</span><br>
                                    <a href="https://www.toysoldiersunite.com/tsu-gaming-marathon-raises-2100-for-enable/" target="_blank" class="btn btn-outline btn-xl">Read more</a>
                                </div><!-- /end item 4  -->
                                <!-- item 3  -->
                                <div class="item">
                                    <span class="text-big">2015<br /><small style="color:#fff;">Alzheimer's Society</small><br />$1565</span><br>
                                    <a href="https://www.toysoldiersunite.com/tsu-gaming-marathon-a-smashing-success/" target="_blank" class="btn btn-outline btn-xl">Read more</a>
                                </div><!-- /end item 3  -->
                                <!-- item 2  -->
                                <div class="item">
                                    <span class="text-big">2014<br /><small style="color:#fff;">Child's Play</small><br />$1001</span><br>
                                    <a href="https://www.toysoldiersunite.com/operation-dig-deep-success-1000-dollars-raised-for-childs-play/" target="_blank" class="btn btn-outline btn-xl">Read more</a>
                                </div><!-- /end item 2  -->
                            </div>
                        </div><!-- /end carousel  -->
                    </div><!-- /end carousel container-->
                </div>
            </div>

            <!-- fundraising bar -->
            <div id="fundraiser-bar" class="bottom-bar-responsive bg-brand-secondary-darkest" style="display:none;">
                <!-- fundraising progress bar -->
                <div class="col-md-6 fundraiser-progress-bar animated-longer-delay-3 fadeIn">
                    <div class="vert-centered-wrapper-120px"><!-- height set in one-page-base.css -->
                        <div class="vert-centered">
                            <div class="progress">
                                <div class="progress-bar progress-bar-tertiary" role="progressbar" style="width:0%;">
                                    <h3><span class="responsive-hide">Raised</span> &nbsp;<b>$0</b></h3>
                                </div>
                                <h3 class="goal"><span class="responsive-hide">Target</span> <b>$2000</b></h3>
                            </div>
                        </div>
                    </div>
                </div><!-- /end fundraising progress bar -->
                <!-- campaign stats -->
                <div class="col-md-4 col-sm-9 col-xs-12 fundraiser-stats">
                    <div class="col-md-4 col-sm-4  col-xs-4 animated-longer-delay-7 fadeIn">
                        <div class="vert-centered-wrapper-120px"><!-- height set in one-page-base.css -->
                            <div class="vert-centered">
                                <h2><span class="timer" data-to="0">0</span>%</h2>
                                <h4>of our goal</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 animated-longer-delay-8 fadeIn">
                        <div class="vert-centered-wrapper-120px"><!-- height set in one-page-base.css -->
                            <div class="vert-centered">
                                <h2><span class="timer" data-to="48" data-speed="1000">48</span></h2>
                                <h4>Hours left</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 animated-longer-delay-9 fadeIn end">
                        <div class="vert-centered-wrapper-120px"><!-- height set in one-page-base.css -->
                            <div class="vert-centered">
                                <h2><span class="timer" data-to="1223" data-speed="2500">1223</span></h2>
                                <h4>Donations</h4>
                            </div>
                        </div>
                    </div><div class="clearfix"></div>
                </div><!-- /end campaign stats -->
                <!-- make a donation -->
                <div class="col-md-2 col-sm-3 col-xs-12  make-a-donation  animated-longer-delay-10 fadeIn">
                    <div class="vert-centered-wrapper-120px"><!-- height set in one-page-base.css -->
                        <div class="vert-centered">
                            <a href="#donateModal" data-toggle="modal" class="btn btn-primary btn-lg btn-rounded-edge btn-extra-padding">Donate now</a>
                        </div>
                    </div>
                </div><!-- /end make a donation -->
            </div><!-- /end fundraising bar -->
        </div>
    </div>
</header><!--=== END intro ===-->

<!--=== PROCESS ===-->
<section id="process" class="bg-brand-warning-med">
    <div class="col-lg-4 col-md-4 bg-brand-warning">
        <div class="responsive-hide">
            <div class="triangle-right"><span class="text-big"><i class="fa fa-caret-right text-warning"></i></span></div>
        </div>
        <div class="col-lg-12 col-md-12 inner-container-small">
            <div class="pull-left icon-circle-md">
                <button class="btn-circle btn-white"><i class="fa fa-twitch fa-2x"></i></button>
            </div>
            <div class="col-lg-9 col-md-9">
                <h2>Check our livestreams</h2>
                <p>Our members are giving it their all to entertain you throughout the marathon!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 bg-brand-warning-med">
        <div class="responsive-hide">
            <div class="triangle-right"><span class="text-big"><i class="fa fa-caret-right text-warning-darker"></i></span></div>
        </div>
        <div class="col-lg-12 col-md-12 inner-container-small">
            <div class="pull-left icon-circle-md">
                <button class="btn-circle btn-white"><i class="fa fa-share fa-2x"></i></button>
            </div>
            <div class="col-lg-9 col-md-9">
                <h2>Share the message</h2>
                <p>Be sure to share this page with all your friends, if you enjoy it!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 bg-brand-warning-darker">
        <div class="col-lg-12 col-md-12 inner-container-small">
            <div class="pull-left icon-circle-md">
                <button class="btn-circle btn-white"><i class="fa fa-dollar fa-2x"></i></button>
            </div>
            <div class="col-lg-9 col-md-9">
                <h2>Donate some money</h2>
                <p>Become a true hero by donating any amount and help us achieve our target!</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section><!--=== / END process  ===-->

<!--=== NEWS & EVENTS ===-->
<section id="information">
    <div class="bg-white">
        <div class="inner-container overlay-light row-of-columns">
            <!-- section header -->
            <div class="row text-center">
                <div class="col-lg-8 col-xs-12 col-lg-offset-2">
                    <h1 class="">Bits & Bytes</h1>
                    <div class="accent-rule-short"></div>
                    <h2>We've been doing this for 3 years now.<br />And every year we keep growing in our efforts to make the world a better place.<br />One charity at a time!</h2>
                </div>
            </div><!-- / end section header -->
            <!-- tabs -->
            <div class="col-xs-12 col-md-8">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active large"><a href="#about-charity" role="tab" data-toggle="tab">About MIND</a></li>
                    <li class="large"><a href="#about" role="tab" data-toggle="tab">About us</a></li>
                    <li class="large"><a href="#news" role="tab" data-toggle="tab">News</a></li>
                    <li class="large"><a href="#crew" role="tab" data-toggle="tab">Crew</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content bg-white">
                    <!-- tab pane 2 -->
                    <div class="tab-pane active" id="about-charity">
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OPxHTZRwXX8" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p><img src="public/img/logo_mind_small.png" class="img-responsive" /></p>
                            <p>
                                We provide advice and support to empower anyone experiencing a mental health problem.<br />
                                We campaign to improve services, raise awareness and promote understanding.<br />
                                We won't give up until everyone experiencing a mental health problem gets support and respect.
                            </p>
                        </div>
                        <div class="text-center col-md-12">
                            <p><a href="http://www.mind.org.uk/" class="btn btn-xl btn-primary" target="_blank">Go to MIND <span class="fa fa-chevron-right"></span></a></p>
                        </div>
                    </div><!-- / end tab pane 2 -->

                    <!-- tab pane 2 -->
                    <div class="tab-pane" id="about">
                        <p>The Army of Toy Soldiers is an online community and parody army with members worldwide. Toy Soldiers Unite started out in 2006 with the goal to make the world a better place. Now, many years later, our community and ambitions keep growing bigger constantly. We have various projects and events going on on a regular base to make people's lives better and richer, and to bring more joy and fun into this world.</p>
                        <p>
                            In 2014, Engineer Airhead had a brilliant idea: Why not use the growing popularity of Game Streaming to support a good cause and spread fun worldwide? Quickly, he organised the first of a series of events, even though back then he wasn't quite aware of it. That year, we collected 1000 USD for Child's Play and we decided to aim even higher.<br />
                            In 2015, we managed to collect more than 1500 USD for Alzheimer's Society. Even though that was much more than the year before, we felt that we could do better!<br />
                            In 2016, we moved the target to 2000 USD and managed to collect even that amount. Only proving that we can indeed do better with the right amount of support.
                        </p>
                        <p>And every year we try to aim even higher. This by contacting more sponsors, enlisting more streamers and providing more fun to the viewers!</p>
                        <p><strong>So, what do we actually do?</strong></p>
                        <p>We get together, play games and stream them online for everyone to see. People can follow our various streams, watching people from all over the world play - And if they like it (or even if they don't), they can donate any amount. Every penny helps and means something to those who it will go to. So, take a look around, join us and enjoy the show!</p>
                    </div><!-- / end tab pane 2 -->

                    <!-- tab pane 1 -->
                    <div class="tab-pane" id="news">
                        <ul class="news-list">
                            <?=$this->getListNews()?>
                        </ul>
                    </div><!-- / end tab pane 1 -->

                    <!-- tab pane 3 -->
                    <div id="crew" class="tab-pane text-center">
                        <div class="col-md-4 col-sm-6 widget-new-volunteer">
                            <div class="panel">
                                <div class="panel-body">
                                    <img src="public/img/crew/engineer-airhead.jpg" alt="image" class="img-responsive col-xs-12 no-padding">
                                </div>
                                <div class="panel-footer">
                                    <h4>Engineer Airhead</h4>
                                    <small>Executive chief head code monkey</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 widget-new-volunteer">
                            <div class="panel">
                                <div class="panel-body">
                                    <img src="public/img/crew/ltsophie.jpg" alt="image" class="img-responsive col-xs-12 no-padding">
                                </div>
                                <div class="panel-footer">
                                    <h4>Lt. Sophie</h4>
                                    <small>Head of art and keeper of cage keys</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  col-sm-6 widget-new-volunteer">
                            <div class="panel">
                                <div class="panel-body">
                                    <img src="public/img/crew/silent.jpg" alt="image" class="img-responsive col-xs-12 no-padding">
                                </div>
                                <div class="panel-footer">
                                    <h4>Silent Addle</h4>
                                    <small>Head of adventure and ringer of sponsors</small>
                                </div>
                            </div>
                        </div>
                    </div><!-- / end tab pane 3 -->
                    <div class="clearfix"></div>
                </div>
            </div><!-- / end tabs -->

            <!-- recent campaign carousel -->
            <div class="col-xs-12 col-md-4">
                <div class="carousel slide carousel-fade" id="carousel_3">
                    <div class="carousel-inner">
                        <!-- item 1  -->
                        <div class="item active">
                            <div class="panel">
                                <div class="panel-header">
                                    <a href="https://www.toysoldiersunite.com/operation-dig-deep-success-1000-dollars-raised-for-childs-play/">
                                        <img src="public/img/logo/childsplay_logo.jpg" class="img-responsive col-xs-12 no-padding" alt="image">
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-footer text-center">
                                    <div class="col-xs-4">
                                        <h3>$1000</h3>
                                        <small>target</small>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>$1001</h3>
                                        <small>raised</small>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>100.1%</h3>
                                        <small>success</small>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div><!-- /end panel  -->
                        </div><!-- /end item 1  -->
                        <!-- item 2  -->
                        <div class="item">
                            <div class="panel">
                                <div class="panel-header">
                                    <a href="https://www.toysoldiersunite.com/tsu-gaming-marathon-a-smashing-success/">
                                        <img src="public/img/logo/alzheimer_logo.jpg" class="img-responsive col-xs-12 no-padding" alt="image">
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-footer text-center">
                                    <div class="col-xs-4">
                                        <h3>$1000</h3>
                                        <small>target</small>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>$1565</h3>
                                        <small>raised</small>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>156.5%</h3>
                                        <small>success</small>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div><!-- /end panel  -->
                        </div><!-- /end item 2  -->
                        <!-- item 3  -->
                        <div class="item">
                            <div class="panel">
                                <div class="panel-header">
                                    <a href="https://www.toysoldiersunite.com/tsu-gaming-marathon-raises-2100-for-enable/">
                                        <img src="public/img/logo/enable_logo.jpg" class="img-responsive col-xs-12 no-padding" alt="image">
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-footer text-center">
                                    <div class="col-xs-4">
                                        <h3>$2000</h3>
                                        <small>target</small>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>$2100</h3>
                                        <small>raised</small>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>105%</h3>
                                        <small>success</small>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div><!-- /end panel  -->
                        </div><!-- /end item 3  -->
                    </div><!-- /end recent campaign carousel -->
                </div><!-- /end inner container -->
            </div><!-- /end background container -->
        </div>
    </div>
</section><!--=== / END news & events  ===-->

<!--=== Livestreams ===-->
<section id="stream" class="bg-white">
    <div class="inner-container">
        <!-- section header -->
        <div class="row text-center">
            <div class="col-lg-8 col-xs-12 col-lg-offset-2">
                <h1>Our livestream</h1>
                <div class="accent-rule-short"></div>
                <h2>
                    We are going to be online for 48 hours, from Friday to Sunday.<br />
                    That's 2 full days!
                </h2>
                <h3>Some of our streamers are also active outside of the charity event.<br />So be sure to follow them!</h3>
            </div>
        </div><!-- / end section header -->
        <div class="row row-after-a-row row-of-columns">
            <div class="col-xs-12 col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item" id="streamFrame"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <iframe style="width:100%;height:500px;border:none;" src="" id="streamChat"></iframe>
            </div>
        </div>
        <div class="row row-after-a-row row-of-columns">
            <?php foreach ($this->getStreamers() as $streamer) : ?>
            <div class="col-lg-3">
                <div class="well streamer-box" data-streamer="<?=$streamer->getLink()?>" data-online="<?=($streamer->getStatus() === 'online')? 'true' : 'false' ;?>">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object dp img-circle" src="<?=$streamer->getAvatar()?>" style="width:75px;height:75px;">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><?=$streamer->getName()?></h4>
                            <h5><?=($streamer->getGame() !== '')? $streamer->getGame() : '<small>¯\_(ツ)_/¯</small>' ;?></h5>
                            <div class="onlineState">
                                <span class="<?=($streamer->getStatus() === 'online')?'text-success' : 'text-danger';?>">
                                    <?=ucfirst($streamer->getStatus())?>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
    <div class="clearfix"></div>
</section><!--=== / END get involved   ===-->

<section id="servers" style="display:none;">
    <div class="bg-white">
        <div class="inner-container overlay-light row-of-columns">
            <div class="row text-center">
                <div class="col-lg-8 col-xs-12 col-lg-offset-2">
                    <h1>The servers</h1>
                    <div class="accent-rule-short"></div>
                    <h2>Come talk and play with us!</h2>
                </div>
            </div><!-- / end section header -->
            <div class="row text-center">
                <div class="col-md-6">
                    <h1>Discord</h1>
                    <h2 style="padding-bottom: 14px;padding-top: 8px;">Quick, easy and secure!</h2>
                    <iframe src="https://discordapp.com/widget?id=219777031901151232&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                    <div class="bg-white" style="padding:35px 10px 10px 10px">
                        <p>Here we talk about gaming and stuff (obvious).<br />Feel free to ask questions, but do keep the chatting to a PG13 rating!</p>
                        <p>Where applicable, we follow the same rules as our community!<br />Be sure to <a href="http://www.toysoldiersunite.com/chat-rules" target="_blank"><strong>read</strong></a> them.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>Minecraft</h1>
                    <h2>Powered by <a href="https://cubedhost.com/thegamingmammoth" target="_blank"><img src="public/img/cubedhost.png" /></a></h2>
                    <iframe src="http://209.182.109.42:8123/?worldname=world&mapname=flat&zoom=3&x=400&y=64&z=242" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                    <div class="bg-white" style="padding:35px 10px 10px 10px">
                        <p>Get your own server with a special discount by following <a href="https://cubedhost.com/thegamingmammoth" target="_blank"><strong>this</strong></a> url and be sure to use the promo code "<strong>THEGAMINGMAMMOTH</strong>"!!!</p>
                        <img src="https://ldn-mc.cubedhost.com/index.php?r=status/4385.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="donate" class="bg-white">
    <div class="inner-container">
        <!-- section header -->
        <div class="row text-center">
            <div class="col-lg-8 col-xs-12 col-lg-offset-2">
                <h1 class="">Give us your money!</h1>
                <div class="accent-rule-short"></div>
                <h2>This is not a robbery, this is charity :D</h2>
            </div>
        </div><!-- / end section header -->
        <div class="row row-after-a-row row-of-columns">
            <div class="col-md-6 text-center">
                <div class="embed-responsive embed-responsive-16by9 donate-progress-container">
                    <div class="donate-progress-background"></div>
                    <div class="donate-progress-overlay" style="width: <?=(100-$this->getTotalDonationPercentage())?>%;"></div>
                    <div class="donate-progress-amount">
                        <h3>$ <?=$this->getTotalDonationAmount()?> / <?=$this->getTargetDonationAmount()?></h3>
                    </div>
                </div>
                <?php if ($this->shouldDisplayDonateButton() === true) : ?>
                <a href="#donateModal" data-toggle="modal" role="button" class="btn btn-primary btn-lg" style="margin-top:15px;">Donate now!</a>
                <?php endif; ?>
            </div>
            <div class="col-md-6">
                <h3>Top 10 donators</h3>
                <ul class="list-group">
                    <?php foreach ($this->getTopDonators() as $donation) : ?>
                    <li class="list-group-item">
                        <span class="badge">$ <?=$donation->getAmount()?></span>
                        <?=$donation->getName()?>
                    </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<?=$this->getSponsors()?>

<!--=== GET INVOLVED ===-->
<section id="join" class="bg-white">
    <div class="inner-container">
        <!-- section header -->
        <div class="row text-center">
            <div class="col-lg-8 col-xs-12 col-lg-offset-2">
                <h1 class="">Make an Impact</h1>
                <div class="accent-rule-short"></div>
                <h2>Interested in helping us out with our events?<br />Check out the number of ways to get involved.</h2>
            </div>
        </div><!-- / end section header -->
        <div class="row row-after-a-row row-of-columns">
            <div class="col-lg-3 col-sm-6 text-center">
                <span class="text-big text-primary"><i class="fa fa-gift"></i></span>
                <h3>Become a sponsor</h3>
                <p>Most of our work relies in sponsors to help us out with servers and goodies. Contact us and be put in the hall of kings!</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <span class="text-big text-primary"><i class="fa fa-video-camera"></i></span>
                <h3>Become a streamer</h3>
                <p>Not all of our streamers can go on for 48 hours. With more streamers we can provide global coverage!</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <span class="text-big text-primary"><i class="fa fa-send"></i></span>
                <h3>Spread the word</h3>
                <p>Our success depends on your kind words. Want to share some love? Share this website with as many friends as possible!</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <span class="text-big text-primary"><i class="fa fa-lightbulb-o"></i></span>
                <h3>Share ideas</h3>
                <p>Do you have a game changing idea, or any great idea at all? Please, contact us. We'd love to hear from you!</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section><!--=== / END get involved   ===-->

<!--=== CONTACT ===-->
<section id="contact">
    <div class="span4 collapse-group">
        <div id="contact-details" class="bg-brand-tertiary collapse">
            <div class="inner-container animated fadeIn">
                <div class="col-lg-12"><h2>Contact Us</h2></div>
                <div class="col-lg-8">
                    <!-- contact form -->
                    <div class="col-lg-12 no-padding">
                        <div class="col-lg-8 no-padding" id="contactResponse"></div>
                    </div>
                    <form method="post" id="contactform" class="contactform">
                        <div class="form-group">
                            <div class="controls">
                                <label class="control-label">Name <span class="transparent-50">*</span></label>
                                <input type="text" id="name" name="name" class="field text form-control" placeholder="Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <label class="control-label">Email <span class="transparent-50">*</span></label>
                                <input type="text" id="email" name="email" class="field text form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="controls">
                                <label class="control-label">Subject <span class="transparent-50">*</span></label>
                                <input type="text" id="subject" name="subject" class="field textbig form-control" placeholder="Subject">
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="controls">
                                <label class="control-label">Message <span class="transparent-50">*</span></label>
                                <textarea id="comments" name="comments" class="field form-control" rows="5" placeholder="Enter your message here..."></textarea>
                            </div>
                        </div>

                        <div class="controls">
                            <button type="submit" onclick="submitContactForm()" value="send message" id="submitbtn" class="btn btn-black btn-lg btn-rounded-edge">Send Message</button>
                        </div>
                    </form>
                </div><!-- /end contact form -->
                <div class="col-lg-4 col-sm-12 col-right-responsive-fix">
                    <h3>We want to hear from you</h3>
                    <p>We consider ourselves a young but passionate group of people who would LOVE to get your feedback!</p>
                    <br>
                    <h3>Have any questions?</h3>
                    <p>We might have answers, or bananas, which could also count as an answer...</p>
                    <br>
                    <h3>Stay up to Date</h3>
                    <p>Keep informed by signing up for email updates. We promise we won't send you any junk mail.  </p>
                    <div class="col-lg-9 col-sm-5 no-padding">
                        <form action="" method="post" class="footer-subscribe" data-input="contact-subscribe-email">
                            <div class="input-group">
                                <input type="text" name="contact-subscribe-email" class="form-control" placeholder="Email Address">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Subscribe</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div><!-- / end collapse-group -->
    <div class="bg-brand-tertiary thin-strip">&nbsp;</div>
    <div class="wrapper-relative bg-white">
        <!-- contact toggle -->
        <div class="float-over-top">
            <div id="contact-toggle" class="tab-down tab-down-tertiary">
                <a data-toggle="collapse" data-target="#contact-details">
                    <h3>Send us a message <i class="fa fa-chevron-down"></i></h3>
                </a>
            </div>
        </div><!--/ end contact toggle -->
    </div>
</section> <!--=== / END contact ===-->

<!--=== FOOTER ===-->
<section id="footer">
    <!-- Row 1 -->
    <div class="row footer-top row-of-columns">
        <div class="inner-container-small">
            <div class="col-md-3">
                <!-- Mission -->
                <div class="headline"><h5>Mission</h5></div>
                <p>To spread fun and bananas to everyone around the world.<br />Collecting money for charity by live-streaming for 48 hours.</p><!-- end Mission -->

                <!-- Monthly Newsletter -->
                <div class="headline"><h5>Newsletter</h5></div>
                <p>Want us to keep you informed?<br />Please give us your email so we can keep you informed!</p>
                <form action="" method="post" class="footer-subscribe" data-input="footer-subscribe-email">
                    <div class="input-group">
                        <input type="text" name="footer-subscribe-email" class="form-control" placeholder="Email Address">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="content-stacked">
                    <!-- Community -->
                    <div class="headline-first"><h5>Our community</h5></div>
                    <ul class="list-unstyled list-vert-solid-line">
                        <li><i class="fa fa-angle-right text-primary"></i><a href="https://www.toysoldiersunite.com/" target="_blank">Toy soldiers Unite</a></li>
                        <li><i class="fa fa-angle-right text-primary"></i><a href="https://www.toysoldiersunite.com/category/gaming-mammoth/" target="_blank">Past success stories</a></li>
                    </ul><!-- / end Community -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Recent Blog Entries -->
                <div class="blog-posts">
                    <div class="headline"><h5>Latest news</h5></div>
                    <?=$this->getFooterNews()?>
                </div><!-- / end recent blog entries -->
            </div>
            <div class="col-md-3 last">
                <div class="headline-first"><h5>Gallery</h5></div>
                <!-- Flickr -->
                <div id="flickr-wrapper">
                    <div id="flickr-stream" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                        <?php foreach ($this->getGalleryImages() as $image) : ?>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="<?= $image['origin'] ?>" itemprop="contentUrl" data-size="<?= $image['dim'] ?>">
                                <img src="<?= $image['thumb'] ?>" itemprop="thumbnail" alt="Image description">
                            </a>
                        </figure>
                        <?php endforeach; ?>
                    </div>
                </div><!-- / end flickr -->
            </div>
            <div class="clearfix"></div>
        </div><!-- / end inner container -->
    </div><!-- / end Row 1 -->
    <!-- Row 2 -->
    <div class="row footer-bottom">
        <div class="inner-container-small">
            <div class="col-lg-3 col-sm-12 left transparent-50">
                <p>
                    <small>
                        Website development by <a href="https://www.engineer-airhead.com" target="_blank">Engineer Airhead</a>
                    </small>
                </p>
            </div>
            <div class="col-lg-3 col-sm-12 pull-right">
                <div class="list-social transparent-50 pull-right">
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/toysoldiers.unite/"><i class="fa fa-facebook transparent"></i></a></li>
                        <li><a href="https://twitter.com/TSUMammoth"><i class="fa fa-twitter transparent"></i></a></li>
                        <li><a href="https://www.twitch.tv/toysoldiersunite"><i class="fa fa-twitch transparent"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- / end Row 2 -->
</section><!--=== END Footer ===-->

<!--== PHOTOSWIPE ==-->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<!--== END PHOTOSWIPE ==-->

<?php if ($this->hasFlashMessages() === true) : ?>
    <div class="modal fade" id="notifModal">
        <div class="modal-dialog modal-lg text-center">
            <div class="modal-content">
                <div class="modal-body" style="padding: 20px 0 0 0;">
                    <?=$this->getFlashMessages()?>
                </div>
            </div><!-- / modal-content -->
        </div><!-- / modal-dialog -->
    </div><!--=== / END notif modal ===-->
<?php endif; ?>

<?php if ($this->shouldDisplayDonateButton() === true) : ?>
<div class="page-progress" style="width: <?=$this->getTotalDonationPercentage()?>%;"></div>
<?php endif; ?>

<!-- Core JavaScript Files -->
<script src="public/js/jquery-1.11.0.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="public/js/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="public/js/init.js"></script>
<script src="public/js/modernizr.js"></script>
<script src="public/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="//player.twitch.tv/js/embed/v1.js"></script>
<script type="text/javascript" src="public/vendor/photoSwipe/photoswipe.min.js"></script>
<script type="text/javascript" src="public/vendor/photoSwipe/photoswipe-ui-default.min.js"></script>
<script type="text/javascript" src="public/js/jquery.countTo.js"></script>
<script type="text/javascript" src="public/js/moment.js"></script>
<!-- Custom Theme JavaScript -->
<script src="public/js/act.js"></script>
<script type="text/javascript">
    // Facebook
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '743605185771822',
            xfbml      : true,
            version    : 'v2.5'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    <?php if ($this->hasFlashMessages() === true) : ?>
    $('#notifModal').modal('show');
    <?php endif; ?>
</script>
</body>
</html>