<?php
/**
 * @var \Airhead\Cosmo\View\SponsorBlockViewInterface $this
 */
assert($this instanceof \Airhead\Cosmo\View\SponsorBlockViewInterface);
?>

<div class="col-sm-6">
    <div id="tb-testimonial" class="testimonial testimonial-default">
        <div class="testimonial-section">
            <?=$this->getDescription()?>
        </div>
        <div class="testimonial-desc">
            <a href="<?=$this->getLink()?>" target="_blank">
                <img class="img-responsive" src="<?=$this->getImageUrl()?>" alt="" />
            </a>
            <div class="testimonial-writer">
                <div class="testimonial-writer-name"><h2><?=$this->getTitle()?></h2></div>
                <a href="<?=$this->getLink()?>" class="btn btn-primary">View sponsor »</a>
            </div>
        </div>
    </div>
</div>
