<?php
/**
 * @var \Airhead\Cosmo\View\SponsorsViewInterface $this
 */
assert($this instanceof \Airhead\Cosmo\View\SponsorsViewInterface);
?>
<section id="sponsors">
    <div class="bg-white">
        <div class="inner-container overlay-light row-of-columns">
            <!-- section header -->
            <div class="row text-center">
                <div class="col-lg-8 col-xs-12 col-lg-offset-2">
                    <h1 class="">Our sponsors</h1>
                    <div class="accent-rule-short"></div>
                    <h2>These are the companies and individuals that make all this possible!</h2>
                </div>
            </div><!-- / end section header -->

            <div class="clearfix"></div>

            <div class="row">
            <?php foreach ($this->getSponsorBlocks() as $index => $sponsorBlock) : ?>
                <?php if ($index > 0 && ($index+1)%2 == 1) : ?></div><div class="row"><?php endif; ?>
                <?=$sponsorBlock->parse()?>
            <?php endforeach; ?>
            </div>

            <!-- tabs -->
            <div class="col-md-6 col-md-offset-3">
                <!-- Tab panes -->
                <div class="tab-content bg-white">
                    <div class="alert alert-info" role="alert" style="margin-bottom: 0;">
                        <strong>Hey, listen!</strong> We're still looking for sponsors for our event!
                        <p>Do you want to help us out? Feel free to <a href="#contact" data-toggle="collapse" data-target="#contact-details">contact</a> us.</p>
                    </div>
                </div>
            </div><!-- / end tabs -->
        </div>
    </div>
</section><!--=== / END SPONSORS  ===-->