<?php
/**
 * @var FooterNewsViewInterface $this
 */
use Airhead\Cosmo\View\News\FooterNewsViewInterface;

assert($this instanceof FooterNewsViewInterface);
?>
<div class="post col-lg-12 no-padding">
    <a href="#" data-toggle="modal" data-target="#news-<?=$this->getId()?>">
        <?=$this->getDate('d M Y')?>: <strong class="text-primary"><?=$this->getTitle()?></strong>
    </a><br>
    <i><small>Posted by <?=$this->getAuthor()?></small></i>
</div>
<div class="modal fade" id="news-<?=$this->getId()?>">
    <div class="modal-dialog modal-lg text-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title"><?=$this->getTitle()?></h2>
            </div>
            <div class="modal-body text-left">
                <?=$this->getBody()?>
            </div>
        </div>
    </div>
</div>
