<?php
/**
 * @var BodyNewsViewInterface $this
 */
use Airhead\Cosmo\View\News\BodyNewsViewInterface;

assert($this instanceof BodyNewsViewInterface);
?>
<li>
    <time datetime="<?=$this->getDate('Y-m-d')?>">
        <span class="day"><?=$this->getDate('d')?></span>
        <span class="month"><?=$this->getDate('M')?></span>
        <span class="year"><?=$this->getDate('Y')?></span>
    </time>
    <div class="info">
        <h2 class="title"><?=$this->getTitle()?></h2>
        <div class="poster"><span class="fa fa-user"></span> <?=$this->getAuthor()?></div>
        <div class="readmore">
            <a href="#" data-toggle="modal" data-target="#news-<?=$this->getId()?>">
                Read more <span class="fa fa-chevron-right"></span>
            </a>
        </div>
    </div>
</li>