<?php
/**
 * @var TopNavViewInterface $this
 */

use Airhead\Wanda\View\Navigation\TopNavViewInterface;

assert($this instanceof TopNavViewInterface);
?>
<header class="page-header">
    <div class="navbar">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li class="hidden-xs">
                <a href="#" id="settings"
                   title="Settings"
                   data-toggle="popover"
                   data-placement="bottom">
                    <i class="glyphicon glyphicon-cog"></i>
                </a>
            </li>
            <li class="hidden-xs dropdown">
                <a href="#" title="Account" id="account"
                   class="dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                </a>
                <ul id="account-menu" class="dropdown-menu account" role="menu">
                    <li role="presentation" class="account-picture">
                        <img src="<?=$this->getUserAvatar(50)?>" alt="">
                        <?=$this->getUserName()?>
                    </li>
                    <li role="presentation">
                        <a href="<?=$this->getProfileUrl()?>" class="link">
                            <i class="fa fa-user"></i>
                            Profile
                        </a>
                    </li>
                </ul>
            </li>
            <li class="visible-xs">
                <a href="#" onclick="return false;" class="btn-navbar" data-toggle="collapse" data-target=".sidebar" title="">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li class="hidden-xs"><a href="<?=$this->getLogoutUrl()?>"><i class="glyphicon glyphicon-off"></i></a></li>
        </ul>
    </div>
</header>